.grid-container {
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    grid-template-columns: repeat(20, 22px);
    grid-template-rows: repeat(20, 22px);
    justify-content: center;
    transform: translate(-50%, -50%);
}