.Node {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

@keyframes node {
    0% {
        transform: scale(0.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes true {
    0% {
        transform: scale(0.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.true {
    background-color: #e9c46a;
    animation-name: true;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.wall {
    background-color: #264653;
}

.visited {
    background-color: #e76f51;
    animation-name: node;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}