.Node {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.true {
    background-color: #e9c46a;
}

.wall {
    background-color: #264653;
}

.visited {
    background-color: #e76f51;
}